<li class="li">
  <div class="bottom-line">
    <% if can? :delete, Twit %>
        <%= link_to 'x', twit, method: :delete, data: { confirm: 'Are you sure?' }, class: "close" %>
    <% end %>


    <%= image_tag twit.user.avatar.url(:thumb) %>
    <%= link_to twit.user.email, "/person/"+twit.user_id.to_s, :class => 'link' %>
        <br>
  <span class="content"><%= twit.content %></span>

    <br>
  <span class="timestamp">
    Posted <%= time_ago_in_words(twit.created_at) %> ago.
  </span>
  </div>
</li>