<%= form_for(@twit) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, placeholder: "Compose new twit..." %>
      <div style="display:none">
        <%= f.text_area :user_id, :value => current_user.id %>
      </div>
    </div>
    <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>