<div class="move-down">
<div class="left profile">
  <div>
      <%= image_tag current_user.avatar.url(:preview) %>
    <h4>
      <%= current_user.email %>
    </h4>
    <p></p>

  </div>
  <div>

    <section>
      <%= render 'shared/stats' %>
    </section>
    <% if can? :create, Twit %>
        <section>
          <%= render 'form' %>
        </section>
    <% end %>

  </div>

  <p></p>

</div>

<div class="left">
  <div class="span8">
    <% if @twits.any? %>
          <div class="panel panel-primary">
            <div class="panel-heading">Twit Feed (<%= @twits.count %>)</div>
            <ul>
            <%= render @twits %>
          </ul>
            <div class="flickr_pagination without-markers">
              <%= will_paginate @twits, :container => false %>
            </div>

          </div>
    <% end %>
  </div>

</div>
</div>