<div class="move-down">
<div class="left profile">
  <%= image_tag @user.avatar.url(:preview) %>
    <h4>
      <%= @user.email %>
    </h4>

    <section>
      <%= render 'shared/stats' %>
    </section>
  <% if @user != current_user %>
      <%= render 'shared/follow_form' if signed_in? %>
  <% end %>
  <p></p>
</div>

<div class="left">
  <div class="span8 move-down-p">
    <% if @user.twits.any? %>
        <div class="panel panel-primary">
          <div class="panel-heading">Twit Feed (<%= @twits.count %>)</div>
          <ul>
            <%= render @twits %>
          </ul>
          <%= will_paginate @twits %>
        </div>
    <% end %>
  </div>
</div>
</div>