
    <div id="follow_form">
      <% if current_user.following?(@user) %>
          <%= render 'shared/unfollow' %>
      <% else %>
          <%= render 'shared/follow' %>
      <% end %>
    </div>
