<div class="stats">

  <strong id="following" class="stat">
    <%= @user.twits.count %>
  </strong>
  <span class="stat-span">posts</span>


<a href="<%= following_path(@user.id)%>">
    <strong id="following" class="stat">
      <%= current_user.followed_users.count %>
    </strong>
    <span class="stat-span">following</span>
</a>


  <a href="<%= followers_path(@user.id)%>">


  <strong id="followers" class="stat">
    <%= @user.followers.count %>
  </strong>

  <!--@host+'/person/'+current_user.id.to_s+'/followers'-->
  <span class="stat-span">followers</span>
  </a>

</div>