<h1>Feed</h1>

<div class="span8">
  <% if @user.twits.any? %>
      <h3>Twits (<%= @user.twits.count %>)</h3>
      <ol class="twits">
        <%= render @twits %>
      </ol>
      <%= will_paginate @twits %>
  <% end %>
</div>

<br>

