<div class="move-down">
  <div class="left profile">
    <div>
      <%= image_tag @user.avatar.url(:preview) %>
      <h4>
        <%= @user.email %>
      </h4>
      <p></p>

    </div>
    <div>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </div>
    <p></p>
  </div>

  <div class="left">
    <div class="span8">

      <% if @users.any? %>
          <div class="panel panel-primary">
            <div class="panel-heading"><%= @title %> (<%= @users.count %>)</div>
            <ul>
              <%= render @users %>
            </ul>
            <div class="flickr_pagination without-markers">
              <%= will_paginate @users, :container => false %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>