<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

    <div class="field" style="display:none">
      <%= f.label :description %><br>
      <%= f.text_area :userid, :value => current_user.id %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
