/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */


.right{
    float: right;
    margin-right:10px;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../assets/glyphicons-halflings-regular.eot');
    src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/glyphicons-halflings-regular.woff') format('woff'),
    url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

header{
    color:white;
    line-height: 20px;
    margin-bottom: 20px;
}

header span{
    font-size: 18px;
}

.container{
    padding: 10px;
    text-align: center;
}

html{
    background: #C0DEED url('/images/bg.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left 0px;
}

.dropdown-toggle{
    background: url('/images/settings.png');
    background-size: 100%;
    width:30px;
    height:30px;
    cursor:pointer;
}

.navbar-link{
    color:black !important;
}

.bg{
    background: #C0DEED url('/images/bg.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left 0px;
}

.move-down{
    margin-top: 50px;
}

.edit-profile{
    padding:20px;
}
.btn{
    margin-top:10px;
}

.move-down-p{
    margin-top: 10px;
}

.form-control{
    max-width:200px;
}

.a:hover{
    background-color: transparent !important;
}

.panel{
    width:50%;
    min-width:500px;
}

.twitter-icon{
    background: url('/images/twitter.png');
    background-size: 100%;
    width: 30px;
    height: 25px;
    display: inline-block;;
}

.twitter-header{
    font-size: 25px;
    color: #55acee !important;
}

.profile{
    background: white;
    border-radius: 5px;
    margin-top: 10px;
}

.stat{
    color:#0084B4;
}

.stat-span{
    color:#0084B4;
}

.close {
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
    text-decoration: none;
}

.close:hover {
    color: #000000;
    text-decoration: none;
    opacity: 0.4;
    filter: alpha(opacity=40);
    cursor: pointer;
    background: transparent;
}

a:hover{
    background: transparent;
}

