// Place all the styles related to the person controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left{
  float:left;
  margin:0px 10px 10px 10px;
  padding: 10px;
}

.right{
  float:right;
}

.text-area{
  border-color: #000000;
}

h4{
  font-weight: 700 !important;
}

.link{
  color: black !important;
  font-weight: bold;
  &:hover{
    color: #0084B4 !important;
    background-color: transparent !important;
  }
}

.bottom-line{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: lightgray;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.field{
  margin-top:10px;
}

textarea{
  width: 300px;
  height: 100px;
}

ul{
  list-style-type: none;
}

.without-markers{
  list-style-type:none;
  margin-bottom: 10px;
}




