// Place all the styles related to the twits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.timestamp{
  color:gray;
}

.bottom-line{
  padding-top: 0px;
  padding-bottom: 5px;
  border-bottom: lightgray;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

ul{
  -webkit-padding-start: 0px;
}

.li{
  padding :10px 10px 0px;
}