<!DOCTYPE html>
<html>
<head>
  <title>Auth</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <div class="twitter-icon"></div>

      <span class="twitter-header">My Twitter</span>
      <div class="dropdown right">
        <div data-toggle="dropdown" class="dropdown-toggle"></div>
        <ul class="dropdown-menu">
          <% if user_signed_in? %>
              <li class="mainmenu"><%= link_to 'Feed', '/person', :class => 'navbar-link' %> </li>
              <li class="mainmenu"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </li>
              <li class="mainmenu"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> </li>
          <% else %>
              <li class="mainmenu"><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> </li>
              <li class="mainmenu"><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> </li>
          <% end %>
        </ul>
      </div>

      <div class="right">
        <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
        <% end %>
      </div>
    </div>
  </div>
</header>


<%= yield %>

<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>

</body>
</html>